.googleButton, .appleButton{
    width: 300px;
    height: 40px;
    background-color: white;
    color: black;
    border-radius: 30px;
    border:none;
    margin-bottom:10px;
    transition:0.5s;
}
.googleButton:hover, .appleButton:hover{
    background-color: lightgrey;
}
.appleButton{
    font-weight:bold;
}
.createAccount{
    width: 300px;
    height: 40px;
    border-radius: 30px;
    border:none;
    background-color: #1D9BF0;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    transition:0.3s;
}
.createAccount:hover{
    background-color: #1a8cd9;
}
.or hr{
    width:141px;
    border:1px solid grey;
    opacity: 0.5;
  }
.or p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    margin-left:5px;
    margin-right: 5px;
}
.or{
    display:flex;
    align-items: center;
    width:300px;
}
.secondSection{
    width:300px;
}
.secondSection p{
    font-size:11px;
    font-family: Arial, Helvetica, sans-serif;
    color:grey;
}
.secondSection p a{
    font-size:11px;
    font-family: Arial, Helvetica, sans-serif;
    color:#1D9BF0;
    text-decoration: none;
    transition:0.3s;
}
.secondSection p a:hover{
  text-decoration: underline;
}
  
.secondSection p span{
    color:#1D9BF0;
}